<form method="POST" action="/new">
    <h1>Post your message!</h1>
    <input type="textarea" name="messageText"/>
    <input type="text" name="usr"/>
    <input type="submit" value="POST IT!">
 </form>