<html>
    <body>
        <h2> <%= message.text %></h2>
                <h3> <%= message.user %> </h3>
                <h3> <%= message.date.toString() %> </h3>

        <a href="/">Return to Board</a>
    </body>
</html>